<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="zwernemann_withdrawal_clear_session_on_login" instance="Zwernemann\Withdrawal\Observer\ClearWithdrawalSessionObserver"/>
    </event>
    <event name="customer_logout">
        <observer name="zwernemann_withdrawal_clear_session_on_logout" instance="Zwernemann\Withdrawal\Observer\ClearWithdrawalSessionObserver"/>
    </event>
</config>
