<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zwernemann_Withdrawal::withdrawals"
             title="Withdrawals"
             module="Zwernemann_Withdrawal"
             sortOrder="90"
             parent="Magento_Sales::sales"
             action="withdrawal/index/index"
             resource="Zwernemann_Withdrawal::withdrawals"/>
    </menu>
</config>
